body{
  background-color: #252525;
}

.nav{
  background: #c30010;
  width: 550px;
  margin: auto;
  height: 55px;
  position: absolute;
  margin-left: 676px;
}

.nav--header{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  color: #FFFFFF;
  position: absolute;
  margin-left: 200px;
  margin-top: 15px;
  
}

.nav--logo{
  width: 30px;
  height: 30px;
  margin-left: 160px;
  margin-top: 12px;
  position: absolute;
}

.main{
  width: 550px;
  background-color: white;
  padding-top: 30px;
  margin-left: 676px;
  padding-bottom: 5px;
}

.main2{
  position: absolute;
  margin-top: -20px;
}

.card1{
  width: 160px;
  height: 200px;  
  border-radius: 5px;
  margin-left: 40px;
  margin-top: 30px;
}

.location--logo{
  width: 20px;
}

.location--logo{
  display: inline;
}

.location--header2{
  display: inline;
}

.location{
  margin-left: 210px;
  margin-top: -180px;
  /* position: absolute; */
}

.location--header2{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 12px;
  color: #2B283A;
  text-transform: uppercase;
  margin-left: 5px;
}

.main--a{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-decoration-line: underline;
  color: #918E9B;
  margin-left: 10px;
}

.location--header1{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #2B283A;
  margin-top: 10px;
}

.start--date{
  display: inline;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 12px;
  color: #2B283A;
}
.end--date{
  display: inline;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 12px;
  color: #2B283A;
}

.date{
  margin-left: 210px;
  margin-top: 5px;
}

.main--description{
  width: 330px;
  height: 45px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #2B283A;
  margin-left: 210px;
  margin-top: 10px;
}

.location--header1{
  margin-left: 210px;
}